.user-box {
    height: 84px;
}

.user-name a, .user-name, .user-name div {
    color:#F5F5F5;
}

#gitVid {

  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -9999;

}

#videoBG {
  height: 100%;
  width: 100%;
  min-height: 840px !important;
  bottom: 0px;
  top: 0px;
  position: fixed;
}

video {
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: visible;
  width: 1764px;
  height: auto;
}

.video {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  -webkit-background-size: cover;
  background-image: none;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#gitVid #videoBG .shade {
  background: #EC1A1A;
  background-image: -moz-linear-gradient(144deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
  background-image: -webkit-linear-gradient(144deg, #69C3C3 0%, rgba(223, 80, 28, 0.77) 0%, rgba(204, 170, 240, 1) 100%);
  background-image: -ms-linear-gradient(144deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
  opacity: 0.9;
  height: 100%;
}

.gitContent
{

	height: 100%;
  width: 100%;
  position: absolute;
  min-height: 880px !important;
  bottom: 0px;
  top: 0px;
}


.btn-transparent
{
  color: #FFF;
  background-color: rgba(255, 255, 255, 0);
  border-color: #FFF;
  margin-bottom: 20px;

}
.btn-transparent:hover {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.27);
  border-color: #FFF;
}

.btn-transparent:focus {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.47);
  border-color: #FFF;
}

.header{
margin-top: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: rgba(255, 255, 255, 0.33);
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

/********* MultiColor KeyFrame  **************/




@-webkit-keyframes pulse
{
  0% {background-color: #45CEEF;}
  12% {background-color: #FFF5A5;}
  50% {background-color: #FFD4DA;}
  75% {background-color: #99D2E4;}
  100% {background-color: #D8CAB4;}
}
