body {
  padding-top: 70px;
  padding-bottom: 40px;
}

.user-box {
    padding:10px;
    margin:10px 0;
    border:1px solid #eee;
    height: 52px;
    border-left-width:5px;
    border-radius:3px
}
